extends layout.pug
block content
    section#banner
        div
            h2 !{result1}

    section#main-content
        .row
            .item
                a(href=`${arrayAll0}`)
                    img.img-1(src=`${arrayAll1}`, alt='img-1')
                .colors-list !{arrayAll2}

                p
                    | #{arrayAll3}
                    br
                    | TWD.#{arrayAll4}
            .item
                a(href=`${arrayAll5}`)
                    img.img-1(src=`${arrayAll6}`, alt='img-1')
                .colors-list !{arrayAll7}
                p
                    | #{arrayAll8}
                    br
                    | TWD.#{arrayAll9}
            .item
                a(href=`${arrayAll10}`)
                    img.img-1(src=`${arrayAll11}`, alt='img-1')
                .colors-list !{arrayAll12}

                p
                    | #{arrayAll13}
                    br
                    | TWD.#{arrayAll14}
        .row.two
            .item
                a(href=`${arrayAll5}`)
                    img.img-1(src=`${arrayAll16}`, alt='img-1')
                .colors-list !{arrayAll17}

                p
                    | #{arrayAll18}
                    br
                    | TWD.#{arrayAll19}
            .item
                a(href=`${arrayAll20}`)
                    img.img-1(src=`${arrayAll21}`, alt='img-1')
                .colors-list !{arrayAll22}

                p
                    | #{arrayAll23}
                    br
                    | TWD.#{arrayAll24}
            .item
                a(href=`${arrayAll25}`)
                    img.img-1(src=`${arrayAll26}`, alt='img-1')
                .colors-list !{arrayAll27}

                p
                    | #{arrayAll28}
                    br
                    | TWD.#{arrayAll29}

