extends layout.pug
block content
    section#banner
        div
            h2 !{result1}

    section#main-content
        .row
            .item
                a(href='#')
                    img.img-1(src=`${arrayAll0}`, alt='img-1')
                .colors-list !{arrayAll1}

                p
                    | #{arrayAll2}
                    br
                    | TWD.#{arrayAll3}
            .item
                a(href='#')
                    img.img-1(src=`${arrayAll4}`, alt='img-1')
                .colors-list !{arrayAll5}
                p
                    | #{arrayAll6}
                    br
                    | TWD.#{arrayAll7}
            .item
                a(href='#')
                    img.img-1(src=`${arrayAll8}`, alt='img-1')
                .colors-list !{arrayAll9}

                p
                    | #{arrayAll10}
                    br
                    | TWD.#{arrayAll11}
        .row.two
            .item
                a(href='#')
                    img.img-1(src=`${arrayAll12}`, alt='img-1')
                .colors-list !{arrayAll13}

                p
                    | #{arrayAll14}
                    br
                    | TWD.#{arrayAll15}
            .item
                a(href='#')
                    img.img-1(src=`${arrayAll16}`, alt='img-1')
                .colors-list !{arrayAll17}

                p
                    | #{arrayAll18}
                    br
                    | TWD.#{arrayAll19}
            .item
                a(href='#')
                    img.img-1(src=`${arrayAll20}`, alt='img-1')
                .colors-list !{arrayAll21}

                p
                    | #{arrayAll22}
                    br
                    | TWD.#{arrayAll23}

