doctype html
html(lang='zh-TW')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title STYLiSH
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='static/css/normalize.css')
        // Bootstrap
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='static/css/style.css')
        link(rel='stylesheet', href='static/css/style-product.css')
        script.
            function add() {
                let num = document.getElementById("productNum");
                num = parseInt(num.value);
                if (isNaN(num)) {
                    num = 1;
                }
                num += 1;
                document.getElementById("productNum").value = num;
            }
            function remove() {
                let num = document.getElementById("productNum");
                num = parseInt(num.value);
                if (isNaN(num)) {
                    num = 1;
                }
                if (num > 1) {
                    num += -1;
                }
                document.getElementById("productNum").value = num;
            }
    body
        include includes/nav.pug
        .all-layout
            section#product-content
                .content-left
                    img.product-main-image(src=`${arrayAll0}`, alt='product-main-image')
                .content-right
                    h2 #{arrayAll1}
                    p #{arrayAll2}
                    h3 TWD.#{arrayAll3}
                    ul
                        li
                            p.product-property 顏色
                            .colors-list !{arrayAll4}

                        li
                            p.product-property 尺寸
                            .size-list !{arrayAll5}

                        li
                            p.product-property 數量
                            .product-num-input
                                button.button-remove(type='button', onclick='remove()') -
                                input#productNum(type='text', name='num', value='1')
                                button.button-add(type='button', onclick='add()') +
                    button.add-cart-button(type='submit') 加入購物車
                    .product-info
                        p !{arrayAll6}
                        p !{arrayAll7}

                        p !{arrayAll8}

            section#product-detail
                div
                    h3 細部說明
                    .product-detail-line
                div
                    p #{arrayAll9}

                    img.product-image-1(src=`${arrayAll10}`, alt='product-image-1')
                div
                    img.product-image-2(src=`${arrayAll11}`, alt='product-image-2')
            
            section
                .Order-input
                    div
                        h2 Order
                        label shipping:
                        input#shipping9(type='text')
                        label payment:
                        input#payment9(type='text')
                        label subtotal:
                        input#subtotal9(type='text')
                        label freight:
                        input#freight9(type='text')
                        label total:
                        input#total9(type='text')
                    div
                        h2 recipient
                        label name:
                        input#name9(type='text')
                        label phone:
                        input#phone9(type='text')
                        label email:
                        input#email9(type='text')
                        label address:
                        input#address9(type='text')
                        label time:
                        input#time9(type='text')
                .container
                    form
                        .form-group.card-number-group
                            label.control-label(for='card-number')
                                span#cardtype
                                | 卡號
                            .form-control.card-number
                        .form-group.expiration-date-group
                            label.control-label(for='expiration-date') 卡片到期日
                            #tappay-expiration-date.form-control.expiration-date
                        .form-group.cvc-group
                            label.control-label(for='cvc') 卡片後三碼
                            .form-control.cvc
                        button.btn.btn-default(type='submit') Pay
                    br
                    pre#curl.jumbotron.text-left.
                        \n\t\t\t\t          
                script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
                script(src='https://js.tappaysdk.com/tpdirect/v4')
                script.
                    TPDirect.setupSDK(12348, 'app_pa1pQcKoY22IlnSXq5m5WP5jFKzoRG58VEXpT7wU62ud7mMbDOGzCYIlzzLF', 'sandbox')
                    TPDirect.card.setup({
                    fields: {
                    number: {
                    element: '.form-control.card-number',
                    placeholder: '**** **** **** ****'
                    },
                    expirationDate: {
                    element: document.getElementById('tappay-expiration-date'),
                    placeholder: 'MM / YY'
                    },
                    ccv: {
                    element: $('.form-control.cvc')[0],
                    placeholder: '後三碼'
                    }
                    },
                    styles: {
                    'input': {
                    'color': 'gray'
                    },
                    'input.ccv': {
                    // 'font-size': '16px'
                    },
                    ':focus': {
                    'color': 'black'
                    },
                    '.valid': {
                    'color': 'green'
                    },
                    '.invalid': {
                    'color': 'red'
                    },
                    '@media screen and (max-width: 400px)': {
                    'input': {
                    'color': 'orange'
                    }
                    }
                    }
                    })
                    // listen for TapPay Field
                    TPDirect.card.onUpdate(function (update) {
                    /* Disable / enable submit button depend on update.canGetPrime  */
                    /* ============================================================ */
                    // update.canGetPrime === true
                    //     --> you can call TPDirect.card.getPrime()
                    // const submitButton = document.querySelector('button[type="submit"]')
                    if (update.canGetPrime) {
                    // submitButton.removeAttribute('disabled')
                    $('button[type="submit"]').removeAttr('disabled')
                    } else {
                    // submitButton.setAttribute('disabled', true)
                    $('button[type="submit"]').attr('disabled', true)
                    }
                    /* Change card type display when card type change */
                    /* ============================================== */
                    // cardTypes = ['visa', 'mastercard', ...]
                    var newType = update.cardType === 'unknown' ? '' : update.cardType
                    $('#cardtype').text(newType)
                    /* Change form-group style when tappay field status change */
                    /* ======================================================= */
                    // number 欄位是錯誤的
                    if (update.status.number === 2) {
                    setNumberFormGroupToError('.card-number-group')
                    } else if (update.status.number === 0) {
                    setNumberFormGroupToSuccess('.card-number-group')
                    } else {
                    setNumberFormGroupToNormal('.card-number-group')
                    }
                    if (update.status.expiry === 2) {
                    setNumberFormGroupToError('.expiration-date-group')
                    } else if (update.status.expiry === 0) {
                    setNumberFormGroupToSuccess('.expiration-date-group')
                    } else {
                    setNumberFormGroupToNormal('.expiration-date-group')
                    }
                    if (update.status.cvc === 2) {
                    setNumberFormGroupToError('.cvc-group')
                    } else if (update.status.cvc === 0) {
                    setNumberFormGroupToSuccess('.cvc-group')
                    } else {
                    setNumberFormGroupToNormal('.cvc-group')
                    }
                    })
                    $('form').on('submit', function (event) {
                    event.preventDefault()
                    // fix keyboard issue in iOS device
                    forceBlurIos()
                    const tappayStatus = TPDirect.card.getTappayFieldsStatus()
                    console.log(tappayStatus)
                    // Check TPDirect.card.getTappayFieldsStatus().canGetPrime before TPDirect.card.getPrime
                    if (tappayStatus.canGetPrime === false) {
                    alert('can not get prime')
                    return
                    }
                    // Get prime
                    TPDirect.card.getPrime(function (result) {
                    if (result.status !== 0) {
                    alert('get prime error ' + result.msg)
                    return
                    }
                    alert('get prime 成功，prime: ' + result.card.prime)
                    //POST to server Prime
                    console.log(result.card.prime);
                    const shipping9 = document.getElementById("shipping9").value;
                    const payment9 = document.getElementById("payment9").value;
                    const subtotal9 = parseInt(document.getElementById("subtotal9").value);
                    const freight9 = parseInt(document.getElementById("freight9").value);
                    const total9 = parseInt(document.getElementById("total9").value);
                    const name9 = document.getElementById("name9").value;
                    const phone9 = document.getElementById("phone9").value;
                    const email9 = document.getElementById("email9").value;
                    const address9 = document.getElementById("address9").value;
                    const time9 = document.getElementById("time9").value;
                    const list = [
                    {
                    id: "#{arrayAll2}",
                    name: "#{arrayAll1}",
                    price: #{arrayAll3},
                    color: {
                    name: "FFFFFF",
                    code: "白色"
                    },
                    size: "S",
                    qty: document.getElementById("productNum").value
                    }
                    ];
                    const order = {
                    shipping: shipping9,
                    payment: payment9,
                    subtotal: subtotal9,
                    freight: freight9,
                    total: total9,
                    recipient: {
                    name: name9,
                    phone: phone9,
                    email: email9,
                    address: address9,
                    time: time9
                    },
                    list: list
                    };
                    const reqBody = {
                    prime: result.card.prime,
                    order: order
                    };
                    fetch ("http://52.15.89.192/api/1.0/order/checkout", {headers: {'Content-Type': 'application/json'},method: "post", body:JSON.stringify(reqBody)})
                    .then( (res) => {
                    if (!res.ok) throw new Error(res.statusText);      //check status
                    return res.json();
                    })
                    .then( (res) => {
                    console.log(res.data);
                    if (res.data) {
                    window.location.replace("http://52.15.89.192/thankyou");
                    }else{
                    throw new Error(res);
                    }
                    
                    })
                    .catch( (err) => {
                    console.log(err);
                    });
                    })
                    
                    })
                    function setNumberFormGroupToError(selector) {
                    $(selector).addClass('has-error')
                    $(selector).removeClass('has-success')
                    }
                    function setNumberFormGroupToSuccess(selector) {
                    $(selector).removeClass('has-error')
                    $(selector).addClass('has-success')
                    }
                    function setNumberFormGroupToNormal(selector) {
                    $(selector).removeClass('has-error')
                    $(selector).removeClass('has-success')
                    }
                    function forceBlurIos() {
                    if (!isIos()) {
                    return
                    }
                    var input = document.createElement('input')
                    input.setAttribute('type', 'text')
                    // Insert to active element to ensure scroll lands somewhere relevant
                    document.activeElement.prepend(input)
                    input.focus()
                    input.parentNode.removeChild(input)
                    }
                    function isIos() {
                    return /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
                    }
                    
                    
        include includes/footer.pug